/*----------------------------
#   VARIABLES
----------------------------*/
:root {
	--primary: rgb(255, 127, 0);
	--primaryTint: rgba(255, 127, 0, 0.2);
	--secondary: rgb(0, 127, 255);
	--secondaryTint: rgba(0, 127, 255, 0.2);
	--light: rgb(241, 244, 243);
	--grey: rgb(172, 177, 184);
	--dark: rgb(32, 32, 34);
	--borderColor: rgb(204, 204, 204);

	--success: rgb(66, 179, 0);
	--successTint: rgba(66, 179, 0, 0.2);
	--error: rgb(225, 25, 0);
	--errorTint: rgba(225, 25, 0, 0.2);
	--warning: rgb(255, 170, 0);
	--warninTint: rgba(255, 170, 0, 0.2);

	--font-headline: 'Inter', sans-serif;
	--font-body: 'Inter', sans-serif;

	--page-width: 80em;
	--content-width: 60em;

	--layout-padding: 1.25em;
	--gap: 1em;

	--radius-s: 4px;
	--radius-m: 8px;
	--radius-l: 12px;
	--radius-xl: 16px;
	--radis-c: 100%;
}

/*----------------------------
#   BASE
----------------------------*/

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	margin: 0;
	padding: 0;
}

/*----------------------------
#   TYPOGRAPHY
----------------------------*/
body,
button,
input,
select,
textarea {
	color: var(--dark);
	font: 400 normal 1em/1 var(--font-body);
}

h1 {
	font: 100 normal 1.75em/1.25 var(--font-headline);
	color: var(--grey);
	margin: 0 0 1em;
}
h2 {
	font: 500 normal 1.5em/1.15 var(--font-headline);
	color: var(--primary);
	margin: 0 0 0.75em;
}
h3 {
	font: 600 normal 1.15em/1.25 var(--font-headline);
	color: var(--dark);
	margin: 0 0 0.5em;
}
h4 {
	font: 700 normal 1em/1.1 var(--font-body);
	color: var(--dark);
	text-transform: uppercase;
	margin: 0 0 1em;
}
h5 {
	font: 700 normal 1em/1.2 var(--font-body);
	color: var(--primary);
	text-transform: uppercase;
	margin: 0 0 1em;
}
h6 {
	font: 700 normal 1em/1 var(--font-body);
	color: var(--secondary);
	text-transform: uppercase;
	margin: 0 0 1em;
}
p,
ul,
ol {
	font: 400 normal 1em/1.75 var(--font-body);
	color: var(--dark);
	margin: 0 0 1em;
}
a {
	color: var(--primary);
}

/*----------------------------
#   FORMS
----------------------------*/
button {
	color: #fff;
	padding: 1em 2em;
	background-color: var(--primary);
	border: none;
	border-radius: var(--radius-s);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: all 0.5s ease;
	white-space: nowrap;
	cursor: pointer;
}
button:hover {
	color: #fff;
	background-color: var(--dark);
}
input[type='text'],
input[type='url'] {
	-webkit-appearance: none;
	color: var(--dark);
	padding: 1em 2em;
	line-height: 1;
	border-radius: var(--radius-s);
	border: 1px solid var(--borderColor);
}

/*----------------------------
#   LAYOUT
----------------------------*/
section {
	padding: var(--layout-padding);
}

/*----------------------------
#   GLOBAL
----------------------------*/

.highlight-box {
	margin: 1em auto;
	padding: 1em 2em;
	background-color: var(--light);
	border-left: 4px solid var(--grey);
	border-radius: var(--radius-s);
	overflow: hidden;
}
.highlight-box.primary {
	border-color: var(--primary);
	background-color: var(--primaryTint);
}
.highlight-box.secondary {
	border-color: var(--secondary);
	background-color: var(--secondaryTint);
}
.highlight-box.success {
	border-color: var(--success);
	background-color: var(--successTint);
}
.highlight-box.error {
	border-color: var(--error);
	background-color: var(--errorTint);
}

/*----------------------------
#   HEADER
----------------------------*/
header#site_header {
	padding: var(--layout-padding);
}
header#site_header h1 {
	margin: 0;
}
.site-branding {
	display: flex;
}
h1.site-title {
	margin-left: auto;
	color: var(--dark);
	text-transform: uppercase;
	font-weight: 600;
}

/*----------------------------
#   MAIN / SITE CONTENT
----------------------------*/

#site_content {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gap);
	padding: 0 var(--layout-padding);
}

/*----------------------------
#   RIDER
----------------------------*/
#rider_map {
	grid-column: 1 / -1;
	margin: 0;
	padding: 0;
}
.map-wrapper {
	width: 100%;
	height: 100%;
	max-height: 90vh;
	border: 1px solid var(--borderColor);
	border-radius: var(--radius-s);
	overflow: hidden;
}
#mapid {
	width: 100%;
	height: 100%;
}

#rider_payment {
	grid-column: 1 / -1;
	border: 1px solid var(--borderColor);
	border-radius: var(--radius-s);
}

/*----------------------------
#   DRIVER
----------------------------*/
form {
	gap: var(--gap);
}
form#node_connection_form {
	display: grid;
	padding: 2em;
	background-color: var(--light);
	border-radius: var(--radius-s);
}
.form-field-wrapper {
	grid-column: 1 / -1;
	display: flex;
	flex-flow: column nowrap;
}
.form-field-wrapper label {
	margin-bottom: 0.5em;
}
form#node_connection_form button {
	grid-column: 1 / -1;
	width: 100%;
}

#instructions {
	grid-column: 1 / -1;
}

/*----------------------------
#   FOOTER
----------------------------*/
footer#site_footer {
	grid-column: 1 / -1;
	margin-top: auto;
	padding: 1.5em var(--layout-padding);
}
footer p {
	font-size: 0.75em;
}
footer a {
	color: var(--grey);
}

/*----------------------------
#   MEDIA QUERIES
----------------------------*/
/* 	480px Breakpoint	*/
@media only screen and (min-width: 30em) {
	:root {
		--layout-padding: 1.5em;
		--gap: 1.25em;
	}
}

/* 	640px Breakpoint	*/
@media only screen and (min-width: 40em) {
	:root {
		--layout-padding: 2em;
		--gap: 1.5em;
	}
	#site_content {
		grid-template-columns: 60vw auto;
	}
}

/* 	960px Breakpoint	*/
@media only screen and (min-width: 60em) {
	:root {
		--layout-padding: 2.5em;
		--gap: 1.75em;
	}
	#rider_map {
		grid-column: 1 / 2;
	}
	#rider_payment {
		grid-column: 2 / 3;
		align-items: center;
	}
}

/* 	1280px Breakpoint	*/
@media only screen and (min-width: 80em) {
	:root {
		--layout-padding: 3em;
		--gap: 2em;
	}
}

/* 	1600px Breakpoint	*/
@media only screen and (min-width: 100em) {
	:root {
		--layout-padding: 3.5em;
	}
}

/* 	1920px Breakpoint	*/
@media only screen and (min-width: 120em) {
	:root {
		--layout-padding: 4em;
	}
}
